<header>
    <ul class="flex mt-5 bg-gray-700 p-4">
        <li class="flex-2 mr-10">
            <a class="nav-links text-center block border border-white rounded hover:border-gray-200 text-white hover:text-gray-700 hover:bg-white py-2 px-4"
                href="/">Home</a>
        </li>
        <li class="flex-2 mr-2">
            <a class="nav-links text-center block border border-white rounded hover:border-gray-200 text-white hover:text-gray-700  hover:bg-white py-2 px-4"
                href="/about.html">About</a>
        </li>
    </ul>
</header>